* {
    box-sizing: border-box;
  }
  
  html,
  body,
  .wrapper {
    height: 100%;
  }
  
  /* @keyframes rotate { */
    /* 100% {
      background-position: 15% 50%;
    }
  }
  
  body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("../../../public/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A";
    color: #000;
    animation: rotate 6s infinite alternate linear;
  }
   */

  
  .FriendProfile{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #004e92;
    text-align: center;
  }
  


  .FriendProfile> h2 {
    font-size: 36px;
    margin: 0 0 12px;
    color:white;
  }
  
  .FriendProfile> h3 {
    color: grey;
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  .FriendProfileButtons{
    cursor: pointer;
    width: 100%;
    height: 20px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
